body
  width: 100%
  height: 100%
  color: $DarkGray
  background: $LightGray

h1,
h2,
h3,
h4,
h5,
h6
  color: $DarkGray

h3
  margin-top: 32px

hr
  border-color: $Gray

.page-header
  border-color: $Gray

.page-content
  border-bottom: 1px solid $Gray
  margin-bottom: 20px