.footer
  color: $White
  margin: 0
  padding: 8px 0

  p
    margin: 0
    line-height: 2

  .text-right a
    margin-right: 8px

  .container
    padding: 0

  .col-md-6,
  .col-md-12,
  .col-cs-12
    padding: 0

  background: $Gray
  border-radius: 0
  a
    color: $White
    &:first-child:hover
      color: $Yellow
    &:last-child:hover
      color: $Purple

@media (min-width: 768px)
  .footer
    .col-sm-8
      text-align: left
    .col-sm-4
      text-align: right

.navbar.navbar-fixed-top
  display: none