extends layout/default

//- block title
//-   title 

block contents

  .container
    .row
      h2 メディアアートお化け屋敷とは
      .page-content
        p ...

    .row
      h2 企画
      .page-content
        p ...

    .row
      .pae-header
        h2 メンバー
      .page-content
        p ...

    .row
      h2 制作
      .page-content
        p
          |Organization: 
          a(href="https://github.com/MediaArt-HauntedHouse" target="_brank") MediaArt-HauntedHouse
        p
          |Website: 
          a(href="https://github.com/MediaArt-HauntedHouse/MediaArt-HauntedHouse_web" target="_brank") MediaArt-HauntedHouse_web