extends layout/default

//- block title
//-   title 

block contents
  .col-xs-12
    .row.top-heading
      .container.text-center
        h1 メディアアートお化け屋敷
        p
          |学園祭の定番と言えば『お化け屋敷』。
          br
          |今年はそれをテーマに様々な学類から集まったメンバーでいろいろな仕掛けを作りました。
          br
          |筑波大生の手によってアレンジされたお化け屋敷、是非お越しください！

  .container
    section
      .page-header.text-center
        h2 企画
      .page-content.clearfix
        .col-xs-4
          .panel.panel-default
            .panel-body
              p hoge
        .col-xs-4
          .panel.panel-default
            .panel-body
              p hoge
        .col-xs-4
          .panel.panel-default
            .panel-body
              p hoge
        .col-xs-4
          .panel.panel-default
            .panel-body
              p hoge
        .col-xs-4
          .panel.panel-default
            .panel-body
              p hoge
        .col-xs-4
          .panel.panel-default
            .panel-body
              p hoge
        .col-xs-4
          .panel.panel-default
            .panel-body
              p hoge

    section
      .page-header.text-center
        h2 メンバー
      .page-content.clearfix
        .col-xs-3
          .panel.panel-default
            .panel-body
              .col-xs-4
                p image
              .col-xs-8
                p 1
                p 2
                p 3
        .col-xs-3
          .panel.panel-default
            .panel-body
              .col-xs-4
                p image
              .col-xs-8
                p 1
                p 2
                p 3
        .col-xs-3
          .panel.panel-default
            .panel-body
              .col-xs-4
                p image
              .col-xs-8
                p 1
                p 2
                p 3
        .col-xs-3
          .panel.panel-default
            .panel-body
              .col-xs-4
                p image
              .col-xs-8
                p 1
                p 2
                p 3