extends layout/default

block contents
  .container-fluid.section-darkgray
    include view/heading

  .container-fluid.section-purple
    include view/info

  .container-fluid.section-black
    include view/movie

  .container-fluid.section-yellow
    include view/share

  .container-fluid.section-darkgray
    include view/program

  .container-fluid
    include view/member

  .container-fluid.section-yellow
    include view/share