extends layout/default

block contents
  .container-fluid.section-darkgray
    include view/heading

  .container-fluid.section-black
    include view/movie

  .container-fluid.section-darkgray
    include view/project

  .container-fluid
    include view/member