nav.navbar.footer
  .container
      .col-xs-12
        .col-md-6.col-sm-6.col-xs-12
          p &copy; 2014 メディアアートお化け屋敷
          //- p Last Update 2014/09/05
        .col-md-6.col-sm-6.col-xs-12.text-right
          a(href="https://github.com/MediaArt-HauntedHouse", target="_brank")
            i.fa.fa-github.fa-2x
          a(href="https://twitter.com/_Makky_", target="_brank")
            i.fa.fa-twitter.fa-2x