#header.row
  .container
    h1 メディアアートお化け屋敷

//- nav.navbar.navbar-inverse.header(role="navigation")
//-   .container
//-     .navbar-header
//-       button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-1")
//-         span.sr-only Toggle Navigation
//-         - for i in [,,,]
//-           span.icon-bar

//-     #navbar-collapse-1.collapse.navbar-collapse
//-       ul.nav.navbar-nav
//-         li
//-           a(href = "index.html") Top
//-         li
//-           a(href = "sitemap.html") Sitemap