meta(charset= 'UTF-8')
meta(content= 'width=device-width, initial-scale=1.0', name= 'viewport')
meta(content= '筑波大学, 情報学群, メディアアートお化け屋敷', property= 'keywords')
meta(content= 'メディアアートお化け屋敷', property= 'og:title')
meta(content= 'website', property= 'og:type')
meta(content= '', property= 'og:description')
meta(content= '', property= 'og:url')
meta(content= 'メディアアートお化け屋敷', property= 'og:site_name')
meta(http-equiv="X-UA-Compatible" content="IE=Edge")