.container.article-heading.text-center
  .article-heading_image.text-center
    embed(src='image/logo.svg' type='image/svg+xml'  width='400' height='400')
  p.lead
    |学園祭の定番と言えば
    span.line-marker 『お化け屋敷』。
    br
    |今年はそれをテーマに
    span.line-marker 様々な学類から集まったメンバー
    |でいろいろな仕掛けを作りました。
    br
    |筑波大生の手によってアレンジされたお化け屋敷、是非お越しください！