.container.article-info
  .page-header.text-center
    h2
      img(src='image/cross.svg' type="image/svg+xml")
      |Information

  dl.dl-horizontal.article-info_table
    dt Project
    dd メディアアートお化け屋敷

    dt Schedule
    dd 2014/ 11/2 (sun), 11/3 (mon)

    dt Location
    dd 筑波大学 第二・第三エリア 2B208, 2B209

    dt Twitter
    dd
      a(href='https://twitter.com/MAhauntedhouse' target='_blank') @MAhauntedhouse

    dt GitHub
    dd
      a(href='https://github.com/MediaArt-HauntedHouse' target='_blank') MediaArt-HauntedHouse