.container.article-member
  .page-header.text-center
    h2
      img(src='image/cat.svg' type="image/svg+xml")
      |Organizer

  .page-content.article-member_organizer.clearfix
    .row
      .col-sm-6.col-xs-12
        .panel.panel-default
          .panel-body
            .text-center
              img.img-circle(src='image/organizer/pic_2.png', width='80', height='80')
            hr
            ul
              li 植木 華織
              li 情報メディア創成学類
              li ギミック班/フライヤー班
              li 責任者(傀儡)です、女の子を食べたいです

      .col-sm-6.col-xs-12
        .panel.panel-default
          .panel-body
            .text-center
              img.img-circle(src='image/organizer/pic_1.png', width='80', height='80')
            hr
            ul
              li 金井 啓太
              li 情報メディア創成(2年)
              li 天井投影班・ギミック班・目玉班・写真加工班・グッズ班・ダイジェスト班
              li 副責任者です。お化け屋敷を作るために筑波大学に入りました。

  .page-header.text-center
    h2
      img(src='image/house2.svg' type="image/svg+xml")
      |Contributors

  .page-content.article-member_contributors.clearfix
    .row
      .col-sm-12
        - for(var i=1; i<34; i++)
          img(src='image/contributors/pic_#{i}.png' width='78' height='78')