.container.article-movie
  .page-header.text-center
    h2
      img(src='image/house.svg' type="image/svg+xml")
      |CM
  .page-content.clearfix.text-center
    .col-md-8.col-md-offset-2
      .video
        iframe(width="800" height="450" src="//www.youtube.com/embed/LcI2X8gvrWU" frameborder="0" allowfullscreen)