.container.article-project
  .page-header.text-center
    h2
      img(src='image/web.svg' type="image/svg+xml")
      |Projects
  .page-content
    .row
      .col-md-4.article-project_container
        .text-center
          img(src='image/japan.svg' type="image/svg+xml")
        h3.text-center 過去からの使者たち
        p
          |動く肖像画・光る墓石・喋る石膏像…。
          |誰もが聞いたことあるような怪談も、最新鋭のお化け屋敷なら全部実現できちゃいます。
          |来場者のみなさんが思い描いたお化けたちも、どこかから見守っていますよ。
      .col-md-4.article-project_container
        .text-center
          img(src='image/camera.svg' type="image/svg+xml")
        h3.text-center 霊界と繋がる魔法のカメラ
        p
          |せっかくの雙峰祭、普通の記念写真じゃつまらない…。
          |そんな時はメディアアートおばけ屋敷に来れば、魔法のカメラでホラー映画風や心霊写真風の記念写真が撮れちゃいます。
          |気になるあの子やお友達を誘って是非来てください！
      .col-md-4.article-project_container
        .text-center
          img(src='image/cross.svg' type="image/svg+xml")
        h3.text-center 御守り販売所
        p
          |屋敷をまわったあとは、魔よけと思い出の保存に一石二鳥なアイテムを！
          |かわいいおばけたちが貴方を悪霊から守ります！
          |ちゃんと連れて帰って、お側に置いてくださいな！
    .row
      .col-md-4.article-project_container
        .text-center
          img(src='image/ssd.svg' type="image/svg+xml")
        h3.text-center 闇から見つめるモノ
        p
          |闇から貴方を見つめる目玉。
          |それらはどこに行っても貴方を見つめ続けています。
          |気に入られないよう、お気をつけ下さい・・・。
      .col-md-4.article-project_container
        .text-center
          img(src='image/ssd.svg' type="image/svg+xml")
        h3.text-center ギミック(仮)
      .col-md-4.article-project_container
        .text-center
          img(src='image/wifi.svg' type="image/svg+xml")
        h3.text-center Beacon(仮)
    .row
      .col-md-4.article-project_container
        .text-center
          img(src='image/projector.svg' type="image/svg+xml")
        h3.text-center 鏡(仮)