.container.article-share.text-center
  a.btn.btn-default.article-share-btn_twitter(href="http://twitter.com/share?text=メディアアートお化け屋敷&amp;url=http://mediaart-hauntedhouse.makky.io&via=MAhauntedhouse" target='_blank')
    i.fa.fa-twitter.fa-fw
    |Twitterでシェアする

  a.btn.btn-default.article-share-btn_google_plus(href="https://plus.google.com/share?url=http://mediaart-hauntedhouse.makky.io" target="_blank")
    i.fa.fa-google-plus.fa-fw
    |Google+でシェアする

  a.btn.btn-default.article-share-btn_facebook(href="https://www.facebook.com/sharer/sharer.php?u=http://mediaart-hauntedhouse.makky.io" target="_blank")
    i.fa.fa-facebook.fa-fw
    |Facebookでシェアする